$primary: #9ad23e;
$white: #fff;
$black: #000;

$black-80: rgba(0,0,0,0.8);
$black-20: rgba(0,0,0,0.2);

$bluegray-4: #43485c;
$bluegray-3: #676a81;
$bluegray-2: #a6afcb;
$bluegray-1: #cad3e0;

$sans-serif: "Poppins", Arial, sans-serif;