/* BUTTONS */

.btn {
  background-color: $primary;
  color: $white;
  border: none;
  padding: 0.5em 1.2em;
  @include border-radius(0.5em);
  font-family: $sans-serif;
}

.btn-warning {
  @extend .btn;
  background-color: $warning;
  @include border-radius(0.1em);
}

.btn-success {
  @extend .btn;
  background-color: $success;
  color: $black;
}